<div id='forgot_password'>
    <div id="details-div">
        <p>Enter details to reset password</p>
        <form>
            <input type="text" name="username" id="" [(ngModel)]="userDetails.username" placeholder="Username">
            <br>
            <input type="email" name="email" id="" [(ngModel)]="userDetails.email" placeholder="Email">
            <br>
            <button (click)="sendEmail()" class="no-box-button">Send password reset email</button>
            <br>
        </form>
    </div>
    <div id="code-div">
        <p>Enter code sent to your email to reset password</p>
        <form>
            <input type="text" name="code" placeholder="Code" id="code">
            <br>
            <span id="code-error" class="error"></span>
            <br>
            <button (click)="submitCode()">Submit</button>
        </form>
    </div>
    <div id="reset-pw-div">
        <p>Enter new password</p>
        <form>
            <input type="password" name="password"  [(ngModel)]="password.password" placeholder="New Password">
            <br>
            <input type="text" name="confirm-password" [(ngModel)]="password.confirm_password" placeholder="Confirm Password">
            <br>
            <span id="password-error" class="error"></span>
        </form>
    </div>
</div>