<div class="profile-data">
    <div>
        <h1>Profile</h1>
        <span class="material-symbols-outlined" (click)="editProfileDiv()">edit</span>
        <div class="profile-data-display">
            <fieldset class="personal-details">
                <legend>Personal Details</legend>
                <div *ngFor="let item of doctor_fields" class="details">
                    <div *ngIf="userData[item]">
                        <span class="heading">{{ item | titlecase }}</span>
                        <br>
                        <span class="value">{{ userData[item] }}</span>
                    </div>
                </div>
                <div *ngIf="!userData['phone']" class="details">
                    <p class="no-box-button" (click)="editProfileDiv()">Add phone number</p>
                </div>
                <div *ngIf="!userData['address']" class="details">
                    <p class="no-box-button" (click)="editProfileDiv()">Add address</p>
                </div>
                <br>
            </fieldset>
        </div>
        <div class="profile-data-edit" style="display: none;">
            <form>
                <fieldset class="personal-details">
                    <legend>Personal Details</legend>
                    <div class="details">
                        <span class="heading">Username</span>
                        <br>
                        <input type="text" name="username" value="{{ userData.username }}" readonly [(ngModel)]="new_user_data.username">
                        <br>
                        <span class="heading">Name</span>
                        <br>
                        <input type="text" name="name" value="{{userData.name}}" [(ngModel)]="new_user_data.name">
                        <br>
                        <span class="heading">Email</span>
                        <br>
                        <input type="email" name="email" value="{{userData.email}}" [(ngModel)]="new_user_data.email">
                        <br>
                        <span class="heading">Qualifications</span>
                        <br>
                        <input type="text" name="qualifications" id="" value="{{userData.qualifications}}" [(ngModel)]="new_user_data.qualifications">
                        <br>
                        <span class="heading">Specialization</span>
                        <br>
                        <input type="text" name="specialization" id="" value="{{userData.specialization}}" readonly [(ngModel)]="new_user_data.specialization">
                        <br>
                        <span class="heading">Phone</span>
                        <br>
                        <input type="text" name="phone" id="" value="{{userData.phone}}" [(ngModel)]="new_user_data.phone">
                        <br>
                        <span class="heading">Address</span>
                        <br>
                        <input type="text" name="address" id="" value="{{userData.address}}" [(ngModel)]="new_user_data.address">
                    </div>
                    <div class="buttons-div">
                        <button class="box-button-green" (click)="saveEdit()">Save</button>
                        <button class="box-button-red" (click)="cancelEdit()">Cancel</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    <div class="order-history">
        <h2>Order History</h2>
        <div *ngIf="orders.length>0; then ordersDiv; else noOrdersDiv"></div>
        <ng-template #ordersDiv>
            <div class="orders-list">
                <div class="order-card" *ngFor="let ord of orders">
                    <table>
                        <tr>
                            <th>Medicine name</th>
                            <th>Medicine Price</th>
                            <th>Quantity</th>
                            <th>Cost</th>
                        </tr>
                        <tr *ngFor="let item of ord.items">
                            <td>{{item.name}}</td>
                            <td>{{item.cost}}</td>
                            <td>{{item.quantity}}</td>
                            <td>{{(+item.quantity)*(+item.cost)}}</td>
                        </tr>
                    </table>
                    <p><span>Order Total</span> <span class="order-total">Rs. {{ord.order_total}}</span></p>
                    <br>
                    <br>
                    <br>
                </div>
                
            </div>
        </ng-template>
        <ng-template #noOrdersDiv>
            <div>
                No orders have been placed
            </div>
        </ng-template>
    </div>
</div>